<template>
  <div>
    <div
      v-if="showPanelValue"
      :HidePanelOfResults="HidePanelOfResults()"
      class="panelValue"
      :switchCoins="switchCoins()"
    >
      <span>EUR</span
      ><b-switch
        v-model="isChecked"
        :rounded="false"
        :passive-type="`is-success`"
        >USD</b-switch
      >
      <div class="content">
        <b-field type="is-info">
          <label>Valor {{ sinal }} |</label>
          <b-input v-model="value"></b-input>
        </b-field>
      </div>
      <div class="content">
        <span>Gorjeta : %{{ gorjeta }}</span>
        <b-field>
          <b-slider
            indicator
            :tooltip="false"
            :custom-formatter="(val) => val + '%'"
            :min="10"
            :max="20"
            v-model="gorjeta"
          ></b-slider>
        </b-field>
      </div>
      <div class="content">
        <span>Pessoas : {{ peoples }}</span>
        <b-field>
          <b-slider
            indicator
            :tooltip="false"
            :min="2"
            :max="16"
            v-model="peoples"
          ></b-slider>
        </b-field>
      </div>
    </div>

    <div v-if="showPanelResults" class="panelResults">
      <div class="content-result">
        <p>Conta</p>
        <p>{{ sinal }}{{ value }}</p>
      </div>
      <div class="content-result">
        <p>Gorjeta</p>
        <p>{{ sinal }}{{ TotalGorjeta }}</p>
      </div>
      <div class="content-result">
        <p>Pessoas</p>
        <p>{{ sinal }}{{ totalPeoples }}</p>
      </div>
      <div class="content-result">
        <p>Total</p>
        <p>{{ sinal }}{{ total }}</p>
      </div>
      <div class="content-result">
        <p>Em R$</p>
        <p>R$ {{ real.toFixed(2) }}</p>
      </div>
    </div>

    <b-button
      v-on:click="ShowPanelOfResults()"
      v-if="showPanelValue"
      type="is-primary"
    >
      <b-icon icon="forward" size="is-medium"> </b-icon>
    </b-button>
    <b-button
      v-on:click="ShowPanelOfValues()"
      v-if="!showPanelValue"
      type="is-primary"
    >
      <b-icon icon="rewind" size="is-medium"> </b-icon>
    </b-button>
  </div>
</template>

<script>
import CurrencyQuote from "../services/CurrencyQuote.js";

export default {
  created() {
    CurrencyQuote.getEuro(),
      CurrencyQuote.getDolar(),
      setTimeout(() => {
        this.isChecked = true;
      }, 400);
  },
  data() {
    return {
      showPanelValue: true,
      showPanelResults: true,
      value: 0,
      isChecked: false,
      sinal: "",
      gorjeta: 10,
      peoples: 2,
      total: 0,
      TotalGorjeta: 0.0,
      totalPeoples: 0,
      real: 0,
      euro: CurrencyQuote.euro,
      dolar: CurrencyQuote.dolar,
    };
  },
  methods: {
    HidePanelOfResults() {
      if (window.matchMedia("(max-width: 660px)").matches) {
        this.showPanelResults = false;
      }
    },
    ShowPanelOfResults() {
      this.showPanelResults = true;
      this.showPanelValue = false;
      console.log(
        "Resultado Value: " +
          this.showPanelValue +
          " e: " +
          this.showPanelResults
      );
    },
    ShowPanelOfValues() {
      this.showPanelResults = false;
      this.showPanelValue = true;
    },
    switchCoins() {
      if (this.isChecked) {
        this.sinal = "$";
        if (this.value == "" || isNaN(this.value)) parseInt((this.value = 0));
        this.valueOfAccount();
        let valueOfDolar = Math.ceil(CurrencyQuote.dolar * 100) / 100;
        this.real = valueOfDolar * this.totalPeoples;
      } else {
        this.sinal = "€";
        if (this.value == "" || isNaN(this.value)) parseInt((this.value = 0));
        this.valueOfAccount();
        let ValueOfEuro = Math.ceil(CurrencyQuote.euro * 100) / 100;
        this.real = ValueOfEuro * this.totalPeoples;
      }
    },
    valueOfAccount() {
      let ValueOfGorjeta = (this.gorjeta / 100) * this.value;
      this.TotalGorjeta = Math.ceil(ValueOfGorjeta * 100) / 100;
      let valueOfPeoples = this.total / this.peoples;
      this.totalPeoples = Math.ceil(valueOfPeoples * 100) / 100;
      let ValueOfTotal = parseFloat(this.value) + this.TotalGorjeta;
      this.total = Math.ceil(ValueOfTotal * 100) / 100;
    },
  },
};
</script>

<style lang="css" scoped>
.panelValue {
  float: left;
  padding: 50px 0 0 90px;
  font-size: 30px;
}
span {
  padding: 10px;
}
.content {
  padding-top: 40px;
}

.taginput .is-info.taginput-container.is-focusable,
.is-info.textarea,
.is-info.input {
  width: 200px;
}

.b-slider .b-slider-track {
  width: 200px;
}

span {
  padding: 10px;
}

.panelResults {
  float: right;
  padding: 0 200px 0 0;
}

.content-result {
  padding: 30px 30px 0 0;
  font-size: 30px;
}
.button.is-primary {
  display: none;
}
@media screen and (max-width: 1024px) {
  .panelValue {
    padding: 50px 0 20px 50px;
    font-size: 20px;
  }
  .panelResults {
    padding: 0 100px 90px 0;
  }
  .content-result {
    font-size: 20px;
  }
}
@media screen and (max-width: 660px) {
  .button.is-primary {
    display: inline-block;
    margin: 0 0 100px 280px;
    border-radius: 15px;
    background: rgba(121, 87, 213, 0.8);
  }
  .panelResults {
    padding: 0 120px 30px 0;
  }
}
</style>
