<template>
  <div class="container">
    <h1 class="title">LE/TIP</h1>
    <Converted />
  </div>
</template>

<script>
import Converted from "./components/Converted.vue";
export default {
  components: { Converted },
  methods: {},
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
html {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container {
  font-family: "Courgette", cursive;
  color: white;
}
h1.title {
  padding-top: 60px;
  text-align: center;
  letter-spacing: 5px;
  color: aliceblue;
}

.b-slider .b-slider-thumb-wrapper.has-indicator .b-slider-thumb {
  background: rgba(121, 87, 213, 0.8);
  color: black;
}
</style>
